.deps/
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
missing
obmc-ikvm
stamp-h1
*.o
ltmain.sh
*-libtool
